* {
    box-sizing: border-box;
}
body, html {
    margin: 0px;
    padding: 0px;
}
.table {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.bag{
    display: flex;
    width: 29%;
    flex-direction: column;
    border: 4px solid darkred;
    padding: 10px;
    justify-content: space-between;
}

.dice_holder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hand{
    display: flex;
    align-items: center;
    width: 39%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    border: 4px solid darkred;
    padding: 10px;
    justify-content: space-between;
}

.hand_dice_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    overflow-y: auto;
}

.seats{
    display: flex;
    box-sizing: border-box;
    width: 29%;
    flex-wrap: wrap;
    flex-direction: column;
    border: 4px solid darkred;
    padding: 10px;
}

.dice {
    width: 33%;
    height: auto;

}

.hand_dice {
}

.chat {
    border: 4px solid darkred;
    padding: 10px;
    margin: 1% 0;
    align-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 29%;
    flex-wrap: wrap;
}

.x5_button {
    width: 100%;
    font-size: 30px;
    height: 50px;
    background: white;
    color: darkred;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid darkred;
}

.roll {
    width: 100%;
    font-size: 30px;
    height: 50px;
    background: darkred;
    color: white;
    font-family: 'Press Start 2P', cursive;
    border: 0px;
}

.clear {
    align-self: stretch;
    font-size: 30px;
    height: 50px;
    background: darkred;
    color: white;
    font-family: 'Press Start 2P', cursive;
    border: 0px;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages {
    font-size: 16px;
    font-family: Time new roman;
    height: 89%;
    overflow-y: auto;
}
.message {
    font-size: 16px;
    font-family: Time new roman;
    word-wrap: break-word;
    margin: 2px;
    white-space: pre-wrap;
}
.input {
    resize: none;
    align-self: stretch;
    font-size: 16px;
    font-family: Time new roman;
}

.player {
    width: 100%;
    height: 12%;
    font-size: 200%;
    color: white;
    border: 0px;
    margin: 2px 0 2px 0;
}

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: center;
  border: 4px solid darkred;
}

.text {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  margin:  8px 16px;
}

.log_button {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  margin: 16px;
  border: 0px;
  background: darkred;
  color: white;
  height: 30px;
}

.text_input {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

.log_form {
    display: flex;
    flex-direction: column;
}
.error {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: darkred;
}