<!DOCTYPE html>
<html lang="en">
<head>
    <title>Roll, roll, roll the dice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<div class='greet'>
    <div class="login">
        <div class='text'>
            {% if message %}
                {{ message }}
            {% endif %}
            {% if er_message %}
                <div class="error">{{ er_message }}</div>
            {% endif %}
        </div>
        <br>
        <div class='text'>
            Введите Имя
        </div>
        <form class="log_form" method="post" action="/create">
            <input class="text_input" name="user_name">
            <input type='submit' class="log_button" value="Создать новую комнату" >
            <div class='text'>
                Если хотите присоединиться,
                <br> то введите номер комнаты.
            </div>
            <input class="text_input" name="room_id">
            <input  class="log_button" value="Присоединиться" type="submit" formaction="/join">
        </form>
    </div>
</div>
<script>
    const greet = document.querySelector('.greet')
    const window_height = document.documentElement.clientHeight;
    greet.style.height = window_height + 'px';
</script>